.background {
  background-image: url("../../image/upper-home.png"),
    url("../../image/Purplelanding.png");
  width: 100%;
  background-size: 100% 23%, 100%, auto;
  background-color: #160e30;
  background-repeat: no-repeat;
  background-position: top, center;
  margin: 0;
  padding: 0;
}

.app-target {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.target-title {
  color: #00f0ff;
}
.app-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  line-height: 2rem;
  margin-top: 0 auto;
  text-align: center;
}
.go-button {
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  border: none;
  color: white;
  font-size: 0.75rem;
  width: 80px;
  text-align: center;
  margin-top: 1rem;
}
.special-text {
  background: linear-gradient(90deg, #55e0f7, #9333ea, #55e0f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.upper-text {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.75rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.main-features {
  display: flex;
  justify-content: center;
  align-items: center;
}
.land-image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 13rem;
  margin-top: 3rem;
}
/* .another-background{
  background-image: url("../../image/home2.png");
  background-size: 100%;
} */
.robot-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 5rem;
}
.robot {
  height: 23rem;
  width: 23rem;
}
.robot-text {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.75rem;
  /* margin-top: 5rem; */
  margin-bottom: 1rem;
}
