.background {
  background-image: url("../../image/Maskgroup.svg"),
    url("../../image/Purpleimglanding\ 1.svg");

  background-size:  100%, cover;

  background-repeat: no-repeat, no-repeat;
 

  margin: 0;
  padding: 0;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  max-width: 1200px;
  margin: 0 auto;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 83vh;
  align-items: center;
}

.explore {
  font-size: 70px;
  font-weight: bold;
  line-height: 1.2;
  color: #51E7D2;
}
.innovate {
 
  font-size: 70px;
}

.succeed{
  font-size: 70px;
}
.explore-sec{
  margin-top: 10em;
  align-items: center;
  justify-content: center;
}
.subtitle {

   margin-top: 10em;
  font-size: 35px;
  color: white;
}

.highlight {
  
  background: linear-gradient(90deg, #55E0F7, #9333EA,#55E0F7
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.indent{
  padding: 80px;
}

.description {
  margin-top: 20px;
  font-size: 18px;
  color: #afafaf;
}

.join-button {
  background-color: #7627d3;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
}

/* .footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #1c0b2d;
  position: absolute;
  bottom: 0;
} */

